<!DOCTYPE html>
<html>

  <head>


    <meta charset="utf-8">

    <!-- NOTE: BOOTSTRAP CSS CDN -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- NOTE: CUSTOM STYLE SHEET -->
    <link type="text/css" rel="stylesheet" href="/styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

    <!-- NOTE: JQUERY CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

    <!-- NOTE: BOOTSTRAP JS CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- NOTE: CUSTOM SCRIPTS -->
    <script type="text/javascript" src="/scripts/app.js"></script>

    <title>SLURP SF</title>

  </head>

  <body>
      <div class="container">
        <div class="row main-title">
          <h1>SLURP SF</h1>
          <p>Your crowdsourced ramen guide to San Francisco</p>
        </div>
      </div>

<!-- Side Navigation  -->
      <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-left">
          <div class="col-xs-2 sidebar-offcanvas" id="sidebar" role="navigation">
            <div class="sidebar-nav">
              <ul class="nav">
                <li class="active"><a href="#top">Top</a></li>
                <li><a href="financial-district">Financial District</a></li>
                <li><a href="footer">Footer</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>


      <div id="content">
        <section id="top">
        </section>

        <section id="financial-district">
        </section>

        <section id="footer">
        </section>

      </div>

      <div class="container">
        <footer>
           <a href=" ">About</a>
           <a href="https://www.kirimachi.com">Contact<img class="contact"/></a>


        </footer>
      </div>





    <main>
    </main>

    <aside class="">
    </aside>



  </body>

</html>
