<!DOCTYPE html>
<html>

  <head>


    <meta charset="utf-8">

    <!-- NOTE: BOOTSTRAP CSS CDN -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- NOTE: CUSTOM STYLE SHEET -->
    <link type="text/css" rel="stylesheet" href="/styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

    <!-- NOTE: JQUERY CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

    <!-- NOTE: BOOTSTRAP JS CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- NOTE: CUSTOM SCRIPTS -->
    <script type="text/javascript" src="/scripts/app.js"></script>

    <title>SLURP SF</title>

  </head>

  <body>
    <header class="main-title">
        <h1>Slurp SF</h1>
        <h2>Your crowdsourced ramen guide to San Francisco</h2>
    </header>


    <main>
      <nav class="nav dropdown col-sm-3">
        <b>Select Neighborhood</b>
        <select id="restaurants">
          <option value="financial-district">Financial District</option>
          <option value="sunset">Sunset</option>
          <option value="richmond">Richmond</option>
        </select>
        <ul>
          <li><a href="#about">About<a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>

      <div class="main-body col-sm-9">
        <!-- FIXME: why are these divs entirely indpendent of the container? -->
        <section class="neighborhood">

          <div class="neighborhood-title" id="financial-district">
            <h2 class="col-sm-9">Financial District</h2>
            <button type="button" class="add-restaurant col-sm-3" name="">Add Restaurant</button>
          </div>
          <div class="restaurants">
            <div class="restaurant-img-div">
              <img class="restaurant-img" src="/images/embarcadero-fidi.jpg" alt="SF">
            </div>
            <div class="restaurant-info">
              <h4>Kirimachi Ramen</h4>
              <a href="http://kirimachiramen.com">http://kirimachiramen.com</a>
              <div class="restaurant-tips">
                <h5><b>Tips:</b></h5>
                <li>"Love the Tsukemen Ramen!"</li>
                <li>"Try the Duck one!"</li>
                <button type="button" class="add-tip" name="">Add Tip</button>
              </div>
            </div>
          </div>

        </section>
      </div>

    </main>


    <footer>
      <div class="footer-div col-md-6" id="about">
        <h6>About</h6>
        <p>This app was developed by Stacy Suen & Daryl Lazaro from GA WDI 39.</p>
      </div>

       <div class="footer-div col-md-6" id="contact">
         <h6>Contact</h6>
       </div>
    </footer>

  </body>

</html>
