body {
  color: black;
  width: 90%;
  margin: 0 auto;
}

header {
  color: #FFB63E;
  background-image: url('/images/ramen-pic.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  height: 100%;
}

.neighborhood-title {
  color: #FFB63E;
  background-image: url("/images/embarcadero-fidi.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-clip: padding-box;
}

.main-title {
  text-align: center;
  text-shadow:
		-1.5px -1.5px 0 #000,
		1.5px -1.5px 0 #000,
		-1.5px 1.5px 0 #000,
		1.5px 1.5px 0 #000;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  margin: 0;
  padding: 20px 0 100px 0;
  opacity: 0.9;
}

header h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 70px;
  letter-spacing: 0.1em;
  font-weight: 900;
  margin: auto;
  text-transform: uppercase;
}

header h2 {
  margin: auto;
  padding: 10px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

main {
  display: inline-block;
  margin: 10px auto;
}

.nav {
  height: 100%;
  padding: 10px;
  margin: 10px 0;
  text-align: center;
  opacity: 0.8;
}

#select-neighborhood {
  font-weight: 700;
  text-transform: uppercase;
}

nav {
  text-align: center;
  font-size: 16px;
}

.nav-neighborhoods {
  margin: 10px auto;
  width: 90%;
}

.nav-neighborhoods li {
  text-align: center;
  padding: 5px 10px;
  display: inline;
  list-style: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
}

select#restaurants {
  margin: 0 10px;
}

.dropbtn {
  margin: 5px auto;
}

.main-body {
  height: 100%;
  padding: 0;
  margin: 10px 0;
}

section.neighborhood {
  padding: 20px 30px;
  opacity: 0.9;
}

.neighborhood-box h3 {
  margin: 10px 0;
}

.neighborhood-title h2 {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 15px 0;
  padding: 0;
  letter-spacing: 0.05em;
}

.neighborhood-img-div {
  padding: 0;
}

.add-restaurant {
  margin: auto;
  margin: 5px 0;
  color: #000000;
}

.neighborhood-img {
  height: auto;
  width: 100%;
}

.restaurant-info {
  padding: 0;
}

.restaurant-info h4 {
  margin: 10px 0 10px 0;
}

div.restaurant-tips li {
  padding-left: 5px;
}

button.add-tip {
  padding: 0 5px;
  margin: 5px 0;
  color: #000000;
}

footer {
  text-align: center;
  opacity: 0.8;
  margin: 0;
  padding: 0;
  width: 100%;
  display: inline-block;
  font-size: 12px;
}

footer h6 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
}

div.footer-div {
  padding: 30px;
}
