body {
    background-image: url('/images/ramen-pic.jpg');
    background-size: 100%;
    background-attachment: fixed;
    color: #EEE;
}

.main-title {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 70px ;
}

.container {
  background-color: transparent;
}
a {
  color: pink;
}
