body {
  width: 90%;
  margin: 0 auto;
  background-image: url('/images/slurpWood.jpg');
  background-position: center;
  background-size: 100%;
}

.modal {
  color: navy;
}

header {
  color: #FFB63E;
  background-image: url('/images/ramen-pic.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  height: 100%;
  background-color: #FFFFFF;
}

.neighborhood-title {
  color: #FFB63E;
}

.main-title {
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding: 20px 0 100px 0;
}

header h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 70px;
  letter-spacing: 0.1em;
  font-weight: 900;
  margin: auto;
  text-transform: uppercase;
  text-shadow:
    -1.5px -1.5px 0 #000,
    1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000;
}

header h2 {
  font-family: 'Oswald', sans-serif;
  margin: auto;
  padding: 10px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-shadow:
    -1.5px -1.5px 0 #000,
    1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000;
}

main {
  display: inline-block;
  margin: 20px auto;
}

.nav {
  height: 100%;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
}

#select-neighborhood {
  font-weight: 700;
  text-transform: uppercase;
}

nav {
  background-color: white;
  opacity: 0.9;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  width: 100%;
  padding: 15px 10px;
}

.nav-neighborhoods li {
  text-align: center;
  padding: 5px 10px;
  display: inline;
  list-style: none;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.05em;
}

select#restaurants {
  margin: 0 10px;
}

.dropbtn {
  margin: 5px auto;
}

.main-body {
  height: 100%;
  padding: 0;
  margin: 10px 0;
}

section.neighborhood {
  padding: 20px 30px;
  opacity: 0.9;
  background-color: #FFFFFF;
}

.neighborhood-box h3 {
  margin: 10px 0;
}

.neighborhood-title h2 {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 15px 0;
  padding: 0;
  letter-spacing: 0.05em;
  color: #3e75a7;
}

.neighborhood-img-div {
  padding: 0;
}

.add-restaurant {
  margin: auto;
  margin: 5px 0;
  color: #000000;
}

.neighborhood-img {
  height: auto;
  width: 100%;
  border: 1px solid #FFFFFF;
}

.restaurant-info {
  padding: 0;
}

.restaurant-info h4 {
  margin: 10px 0 10px 0;
}

div.restaurant-tips li {
  padding-left: 5px;
}

button.add-tip {
  padding: 0 5px;
  margin: 5px 0;
  color: #000000;
}

footer {
  text-align: center;
  opacity: 0.9;
  margin: 0;
  padding: 0;
  width: 100%;
  display: inline-block;
  font-size: 12px;
  background-color: #FFFFFF;
}

footer h5 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #3e75a7;
}

div.footer-div {
  padding: 15px;
}
